.App {
  padding:2%;
  height: 100%;
 }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.MapContainer{
  height: auto;
  width: auto;
}
.Map-Column-Left{
  float: left;
  width: 65%;
  height: auto;
  color:rgb(216, 216, 216);  
}
.Map-Column-Right{
  float: left;
  width: 17%;
  height: auto;
  padding-left: 2%;
  color:rgb(216, 216, 216);
}
.Assumptions{
  width: 98%;
  color:rgb(216, 216, 216);
}
.assumptions-left{
  float: left;
  width: 49%;

  color:rgb(216, 216, 216);  
}
.assumptions-right{
  float: left;
  width: 49%;

  padding-left: 2%;
  color:rgb(216, 216, 216);
}
.interest-entry{
  color: white;
}
input, select, textarea{
  color: rgb(4, 4, 102);
}
.Summary{
  float: left;
  width: 98%;
  height: 100px;
  color:rgb(216, 216, 216);
}
.Places{
  float: left;
  width: 98%;
  height: auto;
  overflow-y: scroll;
  color:rgb(216, 216, 216);
}
.App-Container{
  float: left;
  width: 98%;
}
.component-header{
  color:rgb(248, 248, 138);
}
#mapid { height: 500px; width: 98%;}

.Analysis{
  width: 98%;
  color:rgb(216, 216, 216);
}

.PropertyInfo{
  width: 98%;
  color:rgb(216, 216, 216);
}
.value-left{
  font-size: 8px;
}
.value-right{
  font-size: 8px;
  text-align: end;
}
.value-top{
  font-size: 10px;
  font-weight: 800;
}

.tablecell{
  padding: 5px;
 text-align: center;
}
.fincelnumber{
  padding-left: 15px;
  padding-right: 15px;
 text-align: right;
}
.fincelitem{
  padding-left: 15px;
  padding-right: 15px;
 text-align: left;
}
.fincelitem-correct{
  padding-left: 15px;
  padding-right: 15px;
  color:green;
 text-align: center;
}
.fincelcolheader{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top:5px;
 text-align: right;
 color: rgb(127, 238, 253)
}
.fincelitemheader{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top:5px;
 text-align: left;
 color: rgb(127, 238, 253)
}
.finceltitle{
  padding-top: 25px;
  font-size: 20px;
  color:yellow;
}
.button-container{
  padding-left:60px;
}
.buttonMissing{
  color:#282c34;
  outline:#282c34;
  fill:#282c34;
  border:none;
  text-decoration: none;
  background-color: #282c34;
}
.col-sm-10{
  width:85%;
}
/*for sidebarnav
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #242424;
      height: 100%;
      width:15%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 167px) {
      .sidenav {
        height: auto;
        padding: 5px;
      }
      .row.content {height: auto;} 
    }